<div class="face-snap-card" [ngClass]="{ snapped : clickSnap === 'Oh Snap' } ">
    <h2>{{ faceSnap.titre }}</h2>
    <p>Mis en ligne le {{ faceSnap.createdDate }}</p>
    <img [src]="faceSnap.imageUrls" [alt]="faceSnap.titre">
    <p>{{ faceSnap.description }}</p>
    <p>
        <button (click)="onClickSnap()">{{clickSnap}}</button>
        <span [ngStyle]="{color:'rgb(0,'+ faceSnap.snaps +',0)'}"> 🤌 {{ faceSnap.snaps }}</span>

    </p>
    <p *ngIf="faceSnap.localisation === 'Paris'">{{faceSnap.localisation}} </p>
</div>